:root {
    --grid-rows: 30;
    --grid-cols: 20;
}

body {
    user-select: none;
    text-align: center;
    background-color: seagreen;
}

#grid-container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(var(--grid-rows), max-content);
    grid-template-columns: repeat(var(--grid-cols), max-content);
    margin: 12px;
}

#grid-height-input,
#grid-width-input {
    width: 40px;
}

.cell {
    width: 20px;
    height: 20px;
    border: solid 1px black;
    background-color: white;
}

.food {
    background-color: salmon;
}

.snake {
    background-color: green;
}

.hidden {
    display: none;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(134, 159, 135);
    width: 12em;
    height: 3em;
    z-index: 100;
    font-size: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}